.bg--black {
  background-color: #2c3e55;
}
.tx--black {
  color: #2c3e55;
}
.bg--white {
  background-color: #fff;
}
.tx--white {
  color: #fff;
}
.bg--teal {
  background-color: #009688;
}
.tx--teal {
  color: #009688;
}
.bg--red {
  background-color: #e74c3c;
}
.tx--red {
  color: #e74c3c;
}
.bg--purple {
  background-color: #9a12b3;
}
.tx--purple {
  color: #9a12b3;
}
.bg--green {
  background-color: #87d37c;
}
.tx--green {
  color: #87d37c;
}
.bg--blue {
  background-color: #446cb3;
}
.tx--blue {
  color: #446cb3;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Droid Sans', sans-serif;
}
.bg--purple code {
  color: #2c3e55;
}
code {
  color: #e74c3c;
}
.dm-pnl {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-size: cover;
  background-attachment: fixed;
  padding: 10px;
  overflow: hidden;
}
.dm-pnl:nth-of-type(2) {
  background-image: url("https://unsplash.it/410/?random");
}
.dm-pnl:nth-of-type(3) {
  background-image: url("https://unsplash.it/415/?random");
}
.dm-pnl:nth-of-type(4) {
  background-image: url("https://unsplash.it/420/?random");
}
.dm-pnl:nth-of-type(5) {
  background-image: url("https://unsplash.it/425/?random");
}
.dm-pnl__cntnt {
  overflow: hidden;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
}
.advice {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}
.title {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 50px;
}
* {
  box-sizing: border-box;
}
.header {
  background-size: cover;
  background-position: center center;
  background-attachment: scroll !important;
  background-image: url("https://raw.githubusercontent.com/jh3y/pics/master/doormat/doormat.jpg");
}
