$noOfPanels: 6;
.doormat {
  display : block;
  position: relative;
  margin  : 0;
  padding : 0;
  &__panel {
    visibility: hidden;
    position  : fixed;
    top       : 0;
    right     : 0;
    left      : 0;
    @for $i from 1 through $noOfPanels {
      &:nth-of-type(#{$i}) {
        z-index: 999 - $i;
      }
    }
    &.is--current,
    &.is--current + * {
      visibility: visible;
    }
  }
}
