.columned {
	column-count: 3;
	column-gap: 20px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
}
body {
	margin: 0;
	padding: 0;
}
.doormat {
	background-image: url("images/image.JPG");
	background-size: cover;
	background-position: center center;
	height: 100vh;
	width: 100%;
	display: block;
	margin-bottom: 200vh;
	position: relative;
	z-index: 999;
}
.doormat.iOS {
	height: auto;
}
.page-content {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

body.in-content .doormat {
	margin-bottom: 0;
}

body.in-content .page-content {
	position: static;
}
.doormat-multiple {
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}
.doormat-panel {
	display: none;
	visibility: hidden;
	min-height: 100vh;
}
.red {
	background-color: red;
}
.green {
	background-color: green;
}
.yellow {
	background-color: yellow;
}
.blue {
	background-color: blue;
}
.purple {
	background-color: purple;
}
/*purely for stupid Safari experiment */
* .doormat-panel.current, * .doormat-panel.current:hover {
	display: block;
}
.doormat-panel.current {
	z-index: 999;
	width: 100%;
	display: block;
	margin-bottom: 200vh;
	position: relative;
}
.doormat-panel.next {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	display: block;
}