.columned {
	column-count: 3;
	column-gap: 20px;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
}
header {
	color: #16A085;
	padding: 3em 0 0 0;
}
header .fa {
	font-size: 3em;
}
table {
	margin: 2em auto;
}
pre {
	text-align: left;
}
.header-panel {
	background-image: url('images/doormat.jpg');
	background-size: cover;
	background-position: center center;
}
.intro h2 {
	color: #16A085;
}
.intro {
	padding: 4em;
	background-color: #FAFAFA;
}
.code {
	padding: 4em;
	background-color: #16A085;
	color: #FFF;
}
.issues h2 {
	color: #16A085;
}
.issues {
	background-color: #FAFAFA;
}
.get-involved {
	background-color: #16A085;
	color: #FFF;
}
.repo-link {
	color: #E74C3C;
}
.repo-link:hover {
	color: #C0392B;
}