include mixins/mixins.pug
doctype html
html
  head
    title doormat | wipe your fingers before you come in!
    meta(name='viewport', content='width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(name='description', content='an entry point to your site, wipe your fingers before you come in!')
    link(href='https://fonts.googleapis.com/css?family=Droid+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='css/doormat.css')
    link(rel='stylesheet', href='css/dev.css')
  body.tx--black
    .controls
      for panel in [1, 2, 3, 4, 5]
        button.slide-indicator(data-panel= panel)
    +doormat()
      li.dm-panel.tx--white.bg--white.header
        .advice
          h1 Let's take a scroll 😊
        .title.tx--right
          h1 doormat
          +githubStats('jh3y', 'doormat')

      +panel('bg--blue blurb')
        h2 How about navigating through your site content a little differently?
      +panel('bg--purple tutorial')
      +panel('bg--red tutorial')
        
      +panel('bg--teal tutorial')
        h1 For more, check out the <a href="https://github.com/jh3y/doormat" target="_blank">repo</a>!
    script(async, defer, src="https://buttons.github.io/buttons.js")
    script(type='text/javascript', src='js/doormat.js')
    script(type='text/javascript', src='js/dev.js')
