c = json('../../doormat.config.json', {
  hash: true,
  leave-strings: true
})

$white  = #fff
$black  = #2c3E55
$red    = #e74c3c
$teal   = #009688
$green  = #87d37c
$purple = #9a12b3
$blue   = #446cb3

$colorPalette = {
  black : $black
  white : $white
  teal  : $teal
  red   : $red
  purple: $purple
  green : $green
  blue  : $blue
}

/**
  * Images of cats... because
*/
$imgUrls = 'photo-1490481920145-fc78891bbb99?dpr=1&auto=format&fit=crop&w=600&h=400&q=80&cs=tinysrgb&crop=' 'photo-1475080433592-8615503c982f?dpr=1&auto=format&fit=crop&w=600&h=400&q=80&cs=tinysrgb&crop=' 'photo-1486530555807-11f29d0dff36?dpr=1&auto=format&fit=crop&w=600&h=400&q=80&cs=tinysrgb&crop=' 'photo-1498100152307-ce63fd6c5424?dpr=1&auto=format&fit=crop&w=600&h=400&q=80&cs=tinysrgb&crop=' 'photo-1496661269814-a841e78df103?dpr=1&auto=format&fit=crop&w=600&h=400&q=80&cs=tinysrgb&crop='

for color, hex in $colorPalette
  .bg--{color}
    background-color hex
  .tx--{color}
    color            hex

body
  margin      0
  padding     0
  font-family 'Droid Sans', sans-serif
  font-size 16px
  background  #111

  @media(max-width: 768px)
    font-size 12px

.bg--purple code
  color $black

code
  color $red


@keyframes fadeIn
  from
    opacity 0
  to
    opacity 1

.{c.blocks.doormat.lbl}
  animation fadeIn .5s

.{c.blocks.panel.lbl}
  display               flex !important
  align-items           center
  justify-content       center
  background-size       cover
  background-position   center
  padding               10px
  overflow              hidden
  for img, i in $imgUrls
    &:nth-of-type({i + 1})
      background-image url('https://images.unsplash.com/' + img)

  &__{c.blocks.panel.els.content}
    padding          20px
    background-color rgba(255, 255, 255, 0.75)
    border-radius    10px
    opacity          0
    transform        scale(0)
    max-width        90%
    text-align       center
    transition       opacity .25s ease 0s, transform .25s ease 0s

.{c.blocks.panel.lbl}--{c.mods.active} .{c.blocks.panel.lbl}__{c.blocks.panel.els.content}
  opacity 1
  transform scale(1)

.advice
  display flex
  font-size 2rem
  flex 1 1 0
  flex-direction column
  align-items center
  justify-content center
  h1
    font-size 2.5rem
    width 100%
    text-align center
    display block

.title
  justify-content flex-start

  h1
    font-size 2rem
    margin 0

*
  box-sizing border-box

.stats iframe
  display block
  margin  10px 0 10px 0

.header
  background-size     cover
  background-position center center
  flex-direction      column
  justify-content     flex-end

  *
    width 100%

.show-controls .controls
  opacity 1
  visibility visible

@media(max-width 768px)
  .blurb
  .tutorial
    justify-content flex-start

.tutorial .{c.blocks.panel.lbl}__{c.blocks.panel.els.content}
.blurb .{c.blocks.panel.lbl}__{c.blocks.panel.els.content}
  max-width  75%

.features
  padding 0

.controls
  position fixed
  display flex
  flex-direction column
  z-index 1001
  opacity 0
  visibility hidden
  transition opacity 0.25s ease 0s
  bottom 25px
  right 25px

.slide-indicator
  background-position center center
  background-size cover
  border-radius 100%
  cursor pointer
  border none
  height 44px
  width 44px
  margin 4px
  opacity .5
  transition opacity .25s ease 0s

  &--active
  &:hover
    opacity 1

  for img, i in $imgUrls
    &:nth-of-type({i + 1})
      background-image url('https://images.unsplash.com/' + img)
