/*!!
  * doormat - http://jh3y.github.io/doormat
  *
  * @license MIT
  * @author jh3y
  * (c) 2016
!*/
c = json('../../doormat.config.json', {
  hash: true,
  leave-strings: true
})

body
  -webkit-overflow-scrolling touch

.{c.blocks.doormat.lbl}
  display   block
  position  relative
  margin    0
  padding   0


.{c.blocks.panel.lbl}
  visibility hidden
  display    none
  position   fixed
  top        0
  right      0
  left       0

  &--{c.mods.current} + *
    visibility hidden
