/*!!
  * doormat - http://jh3y.github.io/doormat
  *
  * @license MIT
  * @author jh3y
  * (c) 2017
!*/
c = json('../../doormat.config.json', {
  hash: true,
  leave-strings: true
})

body
  -webkit-overflow-scrolling touch

.{c.blocks.doormat.lbl}
  display   block
  position  relative
  margin    0
  padding   0
  height    100vh
  width     100vw
  overflow auto

  &--{c.mods.inbound}
    .{c.blocks.panel.lbl}
      position absolute

      &.{c.blocks.panel.lbl}--{c.mods.obsolete}
      &.{c.blocks.panel.lbl}--{c.mods.active}
        position fixed


.{c.blocks.panel.lbl}
  position fixed
  top 0
  right 0
  left 0
  min-height 100vh
  width 100vw

  &--{c.mods.active}
    position absolute

  &--{c.mods.obsolete}
    visibility hidden
    position fixed
